---
import { SITE_TITLE } from "../constans/const";

---

<footer class="bg-gradation flex items-center justify-center h-16 mt-auto w-full text-sm border-t border-gray-100">
  <a href="/">©️ 2023 - {SITE_TITLE}</a>
</footer>
