---
export interface Props {}

const {} = Astro.props
---

<header id="header" class="bg-header flex w-full items-center justify-center p-2">
  <h1 class="text-lg font-semibold text-white">Header</h1>
  <div class="flex items-center justify-between"></div>
</header>

<style>
  header {
    height: 80px;
    color: white;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>
