---
import { HEADER_NAVI } from '../constans/const';
import HeaderBtn from './HeaderBtn.astro';

export interface Props {}

const {} = Astro.props
---

<header
  id="header"
  class="bg-white flex w-full min-w-full items-center justify-center p-2 md:justify-between md:py-4 md:px-8"
>
  <h1 class="text-lg font-semibold text-white">
    <a href="/">
      <img
        src={'/images/logo/color-text-black.svg'}
        alt=""
        width="250px"
        height="auto"
      />
    </a>
  </h1>
  <ul class="hidden items-center justify-between gap-x-8 md:flex">
    {
      HEADER_NAVI &&
        HEADER_NAVI.map((navi) => (
          <li>
            <HeaderBtn page={navi.page} title={navi.title} subtitle={navi.subTitle} />
          </li>
        ))
    }
  </ul>
</header>
